{% extends '__master.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="btn btn-primary btn-rounded" id="create-query">Create Queries</div>
        </div>
    </div>
    {% for query in range(0, queries|length, 4) %}
    <div class="row mb-4">
        {% for query in queries[query:query+4] %}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-2 ps-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6 class="mb-0"><a class="text-sm mb-0 text-capitalize querie-uuid"
                                    data-id="querie-{{ query['query_id'] }}">
                                    {{ query['query_title'] }}
                                </a></h6>
                        </div>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 ps-3">
                    <p class="mb-0 text-sm">
                        <span class="text-success font-weight-bolder">
                            {{ query['query_description'] }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}